.Buttons
{
   	-fx-background-repeat: no-repeat;
    -fx-background-size: contain; /* ajusta la imagen para que encaje dentro del botón manteniendo su relación de aspecto */
    -fx-background-position: center;
    -fx-background-size: 100% 100%; 
    -fx-background-radius: 20; /* ajusta el radio de los bordes */
    -fx-border-radius: 10; 
    -fx-background-color: transparent; /* ajusta el radio de los bordes para el borde si lo tienes */
}

#menu {
    -fx-background-image: url("../resources/images/bg_menu.png");
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-background-size: cover; /* la imagen de fondo se reescala */
}

#choose {
    -fx-background-image: url("../resources/images/bg_menu.png");
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-background-size: cover; /* la imagen de fondo se reescala */
}

#juego {
    -fx-background-image: url("../resources/images/bg_menu.png");
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-background-size: cover; /* la imagen de fondo se reescala */
}

.button-label {
    -fx-font-family: "Source Code";
    -fx-font-size: 33px;
    /* Otros estilos de fuente que desees aplicar */
}

